<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>

    <add key="authIssuer" value="http://web-app-qa.azurewebsites.net/" /> 
    <add key="authURL" value="http://auth-service-qa.azurewebsites.net/" />
    <add key="appServiceName" value="QA" />

    <add key="hangfire:EnableRemoteMonitorAccess" value="true" />
    <add key="HangFireRefreshWindow" value="5" /><!-- HangFire refresh window time in minutes - if it changes here, it must change in AuthService to the same value too-->
    <add key="HangFireRefreshWindow_SincroActivityLists" value="1" /><!-- HangFire - SincroActivityLists job refresh window (in minutes) -->

    <add key="UseLocalConnectionString" value="false" />
    <add key="LocalConnectionString" value="Data Source=(LocalDb)\v11.0;Initial Catalog=bd8-otpwa;Integrated Security=SSPI;" />

    <add key="Enable_ApplicationInsight_Telemetry" value="false" />
    <add key="HTTPS_Required" value="false" />
    
    <!--Development version and publish date-->
    <add key="VersionNumber" value="91" />
    <add key="VersionDate" value="7/17/2017 7:20:48 PM" />

    <!-- Poc4-2-->
    <add key="audience" value="099153c2625149bc8acb3e75e03f0023" />

    <!-- Audience para Testpoc1@test.com que es cliente de OFTP Client id 1 en la bd oftplatform -->
    <add key="base64Secret" value="dDsEHS3lsp-juz3gcHTbWJd3ILf2BAxodgJbpBxdWXI" />
    
    <!-- Skip DB logging for big seeds -->
    <add key="LogDB" value="false" />
    <add key="maxUserAccountsNum" value="27" />
    <add key="maxContacts" value="100" />
    <add key="maxOffices" value="3" />
    <add key="maxCompanies" value="1" />
    <add key="maxTasks" value="6" />
    <add key="maxPersonsPerContact" value="3" />
    <add key="maxAddressesPerContact" value="2" />
    <add key="maxProjects" value="4" />
    <add key="maxFileNameLength" value="246" />
    <add key="MaxSyncActivityListNotifications" value="100" />
    <add key="Max_GetActivitiesToRemind_DaysWindow" value="30" />
    
    <add key="AzureDocumentStorage_UploadContainerSuffix" value="files" /> <!--THIS AS WELL AS CLIENT NAMES MUST BE LOWERCASE-->
    <add key="AzureDocumentStorage_DownloadFolderPrefix" value="DL_AID_" />
    
    <add key="LogInConsole" value="true" />
  </appSettings>
  <connectionStrings>
    <!--LOCAL-->
    <add name="MasterSync" connectionString="Server=tcp:qa-ot.database.windows.net,1433;Database=sync-qa;User ID=qa-ot-login;Password=0ff1c3t00ls!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="AzureDocumentsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=qaotstorage;AccountKey=B9FmaQWVbGMjm64Y/eq/87QubS0823FffaxoB1Vw+Fo15CgG4EgUsXgDfEwi1objtcmLmkKv1eEy7ydenFFj8g==;EndpointSuffix=core.windows.net" />
    <!--Necessary Default Connstring properly written for Code First DataContext >> OFTPDatabaseContext -->
    <add name="OfficeTools.Core.DAL.Database.OFTPDatabaseContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=no-bd-otpwa;Integrated Security=False;User ID=otp@nothing;Password=Base1234;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097152" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.sendgrid.net" port="587" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.2.0" newVersion="7.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/jwtAPI_" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <PreserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyyMMdd_HH:mm:ss,fff} | %level | %logger | %message | [%thread]%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
    </appender>
    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>